@model List<Product>

@{
    ViewData["Title"] = "KategoriliUrunler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>KategoriliUrunler</h1>

@foreach (var item in Model)
{
    <li>@item.ProductName</li>
}

